Target Table Name: {{ query_table_name }}
Target Table Description: {{ query_table_description }}
Target Table Column Names: {{ query_table_column_names }}
Target Table Column Descriptions: {{ query_table_column_descriptions }}
Candidate Table Name: {{ candidate_table_name }}
Candidate Table Description: {{ candidate_table_description }}
Candidate Table Column Names: {{ candidate_table_column_names }}
Candidate Table Column Descriptions: {{ candidate_table_column_descriptions }}
Answer: